# large data files 
**/mRNA*
**/m_traj*
experiments/EXP-25-IY011/data/IY011_synth_shard*
julia/simulation/tests/test_telegraph_fixed_stats_results/*.png

*.pyc
*.pyo
src/__pycache__/*
src/*/__pycache__/*
src/*.egg-info/*
src/*/*.egg-info/*
# deprecated files
**/debug.ipynb
**/deprecated*

# virtual environment
.env
**/micromamba*
**/micromamba/**
**/.CondaPkg/**

