# large data files 
**/mRNA*
**/m_traj*

*.pyc
*.pyo
src/__pycache__/*
src/*/__pycache__/*
src/*.egg-info/*
src/*/*.egg-info/*
**/debug.ipynb
# virtual environment
.env
**/micromamba*
**/micromamba/**
